@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../App.scss" as *;

.home {
  &__heading {
    text-align: center;
    margin-top: 2.5rem;
  }

  &__desktop-toggle {
    @include desktop {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      margin: 2.22rem 7.22rem;
    }
  }

  &__britney-gif {
    width: 11.11rem;
    @include drop-shadow;

    @include tablet {
      width: 16.67rem;
    }

    @include desktop {
      width: 70%;
      margin-bottom: 0.5rem;
    }
  }
}

.inputs {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1.11rem auto;
  width: 80%;

  @include desktop {
    width: 50%;
    margin: 0 1.11rem;
    position: sticky;
    top: 2.22rem;
  }

  &__genre {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.11rem;
  }

  &__form {
    width: 70%;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1.11rem 0;

    @include desktop {
      margin-top: 0;
      font-size: 1.33rem;
    }
  }
}

.app-inputs {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 30%;
}

.form {
  &__input-label {
    text-align: center;

    &--popularity {
      @include desktop {
        max-width: 342px;
      }
    }
  }

  &__input--popularity-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 0.55rem;
  }

  &__input--popularity-label {
    font-size: 0.67rem;
    font-style: italic;
    font-weight: 600;

    @include tablet {
      font-size: 1rem;
    }

    @include desktop {
      font-size: 1.33rem;
    }
  }

  &__submit {
    padding: 0.28rem 1.67rem;
    border-radius: 1.1rem;
    border: 0;
    background-color: #282460;
    color: white;
    font-weight: 600;
    @include button;

    @include desktop {
      font-size: 1.33rem;
      padding: 0.55rem 1.5rem;
    }

    &:hover {
      &:hover {
        background-color: #4940bc;
      }
    }
  }
}

#inputs__genre-selector,
#inputs__pop-selector {
  margin: 0.55rem 1.11rem;
}

#inputs__genre-selector {
  @include input;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12rem;
  padding: 0.28rem 0;
  border: 0;
  border-radius: 1.11rem;
  text-align: center;
  height: 2.5rem;
  background-color: #fff;
  background-image: url(../../assets/icons/dropdown.svg);
  background-size: 8%;
  background-repeat: no-repeat;
  background-position: 95%;

  & option {
    text-align: center;
    color: $Primary-Submit;
  }

  &:focus {
    outline: 2px solid $Secondary-SubmitHover;
  }
}

#inputs__pop-selector {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 1rem;
    height: 1rem;
    width: 1rem;
  }

  &::-moz-range-track {
    border-radius: 5px;
    background: linear-gradient(0.25turn, rgb(255, 238, 238), #ff3939);
    height: 0.5rem;
    border: 1px solid grey;
  }

  &::-webkit-slider-runnable-track {
    border-radius: 5px;
    background: linear-gradient(0.25turn, rgb(255, 238, 238), #ff3939);
    height: 0.5rem;
    border: 1px solid grey;
  }
}
