@use "./variables" as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin four-k {
  @media (min-width: 2560px) {
    @content;
  }
}

@mixin drop-shadow {
  filter: drop-shadow(3px 3px 4px #47474740);
}

@mixin glow {
  filter: drop-shadow(0px 0px 0.66rem #FFF);
}

@mixin input {
  margin: 0.27rem 0 0.83rem 0;
  padding: 0.27rem 0.83rem;
  border: 0;
  border-radius: 1.11rem;
  height: 1.67rem;
  font-size: 1rem;
  @include drop-shadow;

  &:focus {
    outline: 2px solid $Secondary-SubmitHover;
  }
}

@mixin button {
  padding: 0.55rem 1.1rem;
  border: 0;
  border-radius: 1.11rem;
  font-weight: 600;
  @include drop-shadow;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:active {
    transform: scale(0.95);
  }
}

@mixin transition {
  transition: ease-in-out 0.3s;
}

@mixin success-alert {
  background-color: rgb(206, 245, 206);
  padding: 0.5rem 1rem;
  border: 1px solid green;
  border-radius: 0.5rem;
}

@mixin error-alert {
  padding: 0.5rem 1rem;
  border: 1px solid red;
  border-radius: 0.5rem;
  background-color: rgb(255, 225, 230);
  padding: 0.5rem 2rem;
}