$Primary-White: #FFF;
$Primary-Background: rgb(255, 214, 178);
$Primary-Submit: #282460;
$Secondary-SubmitHover: #4940bc;
$Secondary-SubmitGradient: radial-gradient(circle, rgba(211,209,255,1) 0%, rgba(73,64,188,1) 100%);
$Secondary-BackgroundBlue: #efeeff;
$Secondary-Red: #ff6262;

$Padding-mobile: 1rem;