@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/typography' as *;
@use '../../App.scss' as *;

.profile-player {
  text-align: center;
  border-bottom: 1px grey solid;

  @include tablet {
    border: 0;
  }

  @include desktop {
    width: 80%;
    margin: auto;
  }

  &__heading {
    @include desktop {
      font-size: 2.33rem;
    }
  }

  &__saved-artists-container {
    @include tablet {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 0.55rem;
    }
  }

  &__artist {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    width: 100%;
    border-top: 1px solid grey;
    position: relative;

    @include tablet {
      flex-flow: column nowrap;
      width: 28%;
      margin: 0 1rem 1.67rem 1rem;
      @include drop-shadow;
    }

    @include desktop {
      width: 23%;
    }

    &-name {
      margin-bottom: 1.11rem;

      @include tablet {
        height: 5.55rem;
        margin-bottom: 0;
      }
    }

    &-h3 {
      margin: 0;

      @include tablet {
        margin-top: 1.11rem;
      }
    }

    &-info {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 auto;
      height: 100%;
      justify-content: space-evenly;

      @include tablet {
        min-height: 9.72rem;
        width: 100%;
        background-color: $Secondary-BackgroundBlue;
        border: 1px solid lightgray;
      }
    }
  }

  &__thumb {
    width: 50%;
    background-color: grey;

    @include tablet {
      width: 100%;
    }
  }

  &__link {
    @include button;
    background-color: $Primary-Submit;
    color: $Primary-White;
    margin: 0 auto;
    font-size: 0.78rem;
    padding: 0.27rem 1rem;
    transition: 0.3s;

    &:hover {
      background-color: $Secondary-SubmitHover;
    }

    @include tablet {
      margin: auto 1.11rem;
      font-size: 1rem;
      padding: 0.55rem 1.11rem;
    }
  }

  &__gif {
    width: 80%;
    @include drop-shadow;
  }

  &__text-placeholder {
    margin: 0.5rem;
  }

  &__remove-like--tablet {
    // display: none;

    @include tablet {
      // display: contents;
      position: absolute;
      right: -0.55rem;
      top: -0.55rem;
      width: 1.67rem;
      height: 1.67rem;
      border-radius: 0.83rem;
      background-color: rgb(255, 113, 113);
      background-image: url('../../assets/icons/xmark-solid.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      color: white;
      transition: 0.2s;

      &:hover {
        background-color: red;
        cursor: pointer;
      }
    }
  }

  &__remove-like--mobile {
    position: absolute;
    right: 0.27rem;
    top: 0.27rem;
    color: $Primary-White;
    background-color: red;
    padding: 0 0.55rem;
    border-radius: 0.83rem;
    font-weight: 400;

    @include tablet {
      display: none;
    }
  }

  &__artist {
    @include tablet {
      transition: 0.2s ease-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}