@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/typography' as *;
@use '../../App.scss' as *;

.avatar-modal {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-color: #00000080;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;

  &__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background-color: #fff;
    position: absolute;
    width: 75%;
    top: 25%;
    left: 12.5%;
    padding: 40px 20px;
    border-radius: 20px;

    @include tablet {
      width: 50%;
      left: 25%;
    }

    @include desktop {
      width: 40%;
      left: 30%;
    }
  }

  &__top-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &--close {
      height: 25px;
      min-width: 25px;
      background-image: url('../../assets/icons/xmark-solid.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
      background-color: red;
      border-radius: 12.5px;
      border: none;
      position: relative;
      top: -20px;
      margin-left: 30px;
      transition: 0.2s ease-in-out;
      cursor: pointer;

      @include tablet {
        &:hover {
          background-color: rgb(255, 116, 116);
        }
      }
    }
  }

  &__heading {
    margin: 0;
    line-height: 2rem;
  }

  &__form {
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    text-align: center;
    line-height: normal;

    @include tablet {
      flex-flow: row nowrap;
      align-items: flex-start;
    }
  }

  &__upload-file {
    background-color: $Primary-Submit;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    @include tablet {
      &:hover {
        background-color: $Secondary-SubmitHover;
      }
    }

    &--input {
      display: none;
      margin-right: 0.5rem;
    }

    &--submit {
      background-color: green;
      border: 0px;
      cursor: pointer;

      @include tablet {
        &:hover {
          background-color: rgb(0, 186, 0);
        }
      }
    }

    &--pending {
      background-color: rgb(208, 208, 208);
      border: 0px;
      pointer-events: none;
    }
  }
}