@use '../../styles/variables' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;
@use '../../App.scss' as *;

.artist {
  @include tablet {
    max-width: 768px;
    width: 100%;
    margin: auto;
  }
}

.artist__player {
  margin-top: 1.2rem;

  @include desktop {
    display: flex;
    margin: 1.2rem auto 0 auto;
    flex-flow: row nowrap;
    width: 44.44rem;
  }

}

.artist__comments {
  @include tablet {
    width: 30rem;
  }

  @include desktop {
    width: 100%;
    max-width: 30rem;
    margin: auto;
  }
}
