@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../App.scss" as *;

iframe {
  height: 23.6rem;
  border: 0;
  @include drop-shadow;
}

#music-section {
  @include tablet {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;

    @include desktop {
      position: relative;
      left: 2rem;
    }
  }

  @include desktop {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    font-size: 1.1rem;
  }
}

#spotify-iframe {
  width: 100%;
  margin: 1.11rem 0;
}

.spotify-player {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0 1.11rem;

  @include tablet {
    margin-bottom: 0;
  }

  @include desktop {
    flex-flow: column;
    margin-top: 1.11rem;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      margin-top: 0;
      margin-bottom: 0;
    }

    &--like {
      margin-top: 0;
    }

    @include tablet {
      justify-content: flex-end;
    }

    &-button {
      padding: 0.27rem 1.11rem;
      background-color: $Primary-White;
      border: 0;
      border-radius: 1.11rem;
      color: $Primary-White;
      background-color: $Primary-Submit;
      background-position: 50%;
      font-weight: 600;
      @include button;
      min-width: 9.4rem;
      min-height: 2.154rem;

      &:active {
        transform: none;
      }

      &--loading {
        background-image: url(../../assets/images/fadeStaggerCircles.svg);
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: 50%;
        min-width: 9.78rem;

        &:active {
          transform: none;
        }
      }

      &--shuffle {
        min-height: 2.154rem;
        min-width: 9.78rem;

        &:active {
          transform: none;
        }
      }

      &:hover {
        background-color: $Secondary-SubmitHover;
      }

      &--save,
      &--saved {
        width: 100%;

        @include tablet {
          width: auto;
        }
      }

      &--saved {
        background-color: $Primary-White;
        color: $Primary-Submit;

        &:hover {
          background-color: $Primary-White;
          color: $Secondary-SubmitHover;
        }
      }

      @include tablet {
        margin-left: 1.11rem;
      }
    }
  }
}
