@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;
@use "../../App.scss" as *;

.output__standby {
  text-align: center;
  width: 70%;
  margin: 1.11rem auto;

  @include desktop {
    width: 50%;
    padding: 0 1.11rem;
    font-size: 1.33rem;
    margin-top: 1.17rem;
  }
}

.home__britney-gif {
  border-radius: 20px;

  @include desktop {
    width: 80%;
  }
}